In [4]:
import pandas as pd

In [5]:
#data frames

In [6]:
mydata = {'Names' : ['a','b','c'],'Marks' : [9,8,7]};
myvar = pd.DataFrame(mydata)

In [7]:
print(myvar)

  Names  Marks
0     a      9
1     b      8
2     c      7

In [8]:
m = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(m)

a    1
b    2
c    3
d    4
e    5
dtype: int64

#Read_data

In [9]:
l = pd.read_csv('data.csv')
print(l)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [10]:
print(l.head(10))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [11]:
print(l.tail(10))

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [12]:
#checking and counting the null cells

In [13]:
i = l.isnull()
print(i.sum())

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [14]:
#Removing the null values

In [15]:
new_df = l.dropna()
print(new_df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [16]:
print(new_df.isnull().sum())

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [17]:
#calculate mean

In [18]:
x=l["Duration"].mean()
print(x)

63.84615384615385

In [19]:
x=l["Duration"].median()
print(x)

60.0

In [20]:
x=l["Duration"].mode()
print(x)

0    60
Name: Duration, dtype: int64

In [21]:
#duplicate

In [22]:
print(l.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

In [24]:
l.drop_duplicates()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[162 rows x 4 columns]

In [25]:
#correlations

In [26]:
l.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000